__pycache__/
**/__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
.vscode/
*.png
*.txt
*.csv
*.csv
# outputs / data
output*.png
*.png
*.csv

# python env / caches
.venv/
__pycache__/
.ipynb_checkpoints/
